{% autoescape true %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&subset=latin,greek' rel='stylesheet' type='text/css'>
	</head>
	

	<body>
		{% include 'header.html' %}

		<h1>Contact Information</h1>
		
		<p>
			To request additional features or report bugs contact <a class="contact" href="mailto:bstrong1218@gmail.com?Subject=Late%20Plate%20App" target="_top"> Brandon Armstrong </a> 
			<!-- there's probably a better way to do this... define contact info externally -->
		</p>

		{% include 'footer.html' %}

	</body>
</html>
{% endautoescape %}