{% autoescape true %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&subset=latin,greek' rel='stylesheet' type='text/css'>
	</head>
	

	<body>
		{% include 'header.html' %}

		<br/>
		<hr/>


		<h1>Today's Late Plates</h1>
		<h3> {{ date.strftime('%A %m/%d') }} </h3>

		<h2>Lunch</h2>
		<table>
		{% for plate in lunch_plates %}
			<tr>
				<td>{{ plate.member.name }}</td>
			</tr>
		{% endfor %}
		</table>


		</br>

		<hr/>


		<h2>Dinner</h2>
		<table>
		{% for plate in dinner_plates %}
			<tr>
				<td>{{ plate.member.name }}</td>
			</tr>
		{% endfor %}
		</table>

		<hr/>

		{% include 'footer.html' %}
	</body>
</html>
{% endautoescape %}
