{% autoescape true %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>
	  
	<body>
		<a href="me">My Lateplates</a>

		<h1>Today's Late Plates:</h1>

		<h2>Lunch</h2>
		<table>
		{% for plate in lunch_plates %}
			<tr>
				<!-- <td> plate.user.nickname() </td> -->
				<td>{{ plate.meal }}</td>
			</tr>
		{% endfor %}
		</table>


		<hr/>


		<h2>Dinner</h2>
		<table>
		{% for plate in dinner_plates %}
			<tr>
				<!-- <td> plate.user.nickname() </td> -->
				<td>{{ plate.meal }}</td>
			</tr>
		{% endfor %}
		</table>
	</body>
</html>
{% endautoescape %}
