{% autoescape true %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&subset=latin,greek' rel='stylesheet' type='text/css'>
	</head>


	<body>
		{% include 'header.html' %}

		</br>

		<h1>{{member.name}}'s late plates:</h1>


		<form action='/member' method="post">
			<input type="text" name="name" value="{{member.name}}" />
			<input type="submit" value="Change" />
		</form>


		<div id="oneoff_listing">
			<h2>My Requests</h2>
			<table>
			{% for oneoff in oneoff_listing %}
				<tr>
					<form action="/request" method="POST">
						<td>{{oneoff.meal}}</td>
						<td>{{oneoff.date}}</td>
						<td>
							<input type="submit" value="Delete" />
						</td>
						<input type="hidden" name="action" value="delete" />
						<input type="hidden" name="plate_id" value={{oneoff.key.id()}} />
					</form>
				</tr>
			{% endfor %}
			</table>
		</div>


		<hr/>


		<div id="new_request">
			<form action="/request" method="post">
				<h2>Request a plate</h2>

				<select name="date">
				{% for day in available_oneoff_days %}
					<option value="{{day.strftime('%m/%d/%Y')}}">{{day.strftime('%A %m/%d')}}</option>
				{% endfor %}
				</select>

				</br>

				<input type="radio" name="meal" value="Lunch">Lunch</input>
				<br/>
				<input type="radio" name="meal" value="Dinner">Dinner</input>

				</br>

				<input type="submit" value="Request" />
				<input hidden=true name="type" value="oneoff" />
				<input type="hidden" name="action" value="create" />
			</form>
		</div>


		<div id="recurring">
			<form action="/schedule" method="post">
				<h2>Recurring</h2>

				<table>

				<tr></tr>
				<th></th>
				{% for day in available_days %}
					<th>{{ day }}</th>
				{% endfor %}

				{% for meal in meals %}
					<tr>
					<td>{{ meal }}</td>

					{% for day in range(5) %}
							<td><input type="checkbox" name="{{ meal + "[" ~ day ~ "]" }}" {{ "checked" if recurring_plates[meal][day] }}></td>
					{% endfor %}
					</tr>
				{% endfor %}
				</table>

				<input type="submit" value="Save" />
				<input hidden=true name="type" value="recurring" />
			</form>
		</div>


		<hr/>


		{% include 'footer.html' %}
	</body>
</html>
{% endautoescape %}
