{% autoescape true %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&subset=latin,greek' rel='stylesheet' type='text/css'>
	</head>

	<nav>
		<ul>
			<li><a href="/"><span>Home</span></a></li>
			<li><a href="/me"><span>My Lateplates</span></a></li>
			<li><a href="#"><span>Contact</span></a></li>
		</ul>
	</nav>

	</br>

	<body>
		<h1>{{user.nickname()}}'s late plates:</h1>

		<div id="oneoff_listing">
			<h2>My Requests</h2>
			<table>
			{% for oneoff in oneoff_listing %}
				<tr>
					<form action="/request" method="POST">
						<td>{{oneoff.meal}}</td>
						<td>{{oneoff.date}}</td>
						<td>
							<input type="submit" value="Delete" />
						</td>
						<input type="hidden" name="action" value="delete" />
						<input type="hidden" name="plate_id" value={{oneoff.key.id()}} />
					</form>
				</tr>
			{% endfor %}
			</table>
		</div>


		<hr/>


		<form action="/request" method="post">
			<h2>Request a plate</h2>

			<select name="date">
			{% for day in available_oneoff_days %}
				<option value="{{day.strftime('%m/%d/%Y')}}">{{day.strftime('%A %m/%d')}}</option>
			{% endfor %}
			</select>

			</br>

			<input type="radio" name="meal" value="Lunch">Lunch</input>
			<input type="radio" name="meal" value="Dinner">Dinner</input>

			</br>

			<input type="submit" value="Save me some food!" />
			<input hidden=true name="type" value="oneoff" />
			<input type="hidden" name="action" value="create" />
		</form>


		<div id="recurring">
			<form action="/schedule" method="post">
				<h2>Recurring</h2>

				<table>

				<tr></tr>
				<th></th>
				{% for day in available_days %}
					<th>{{ day }}</th>
				{% endfor %}

				{% for meal in meals %}
					<tr>
					<td>{{ meal }}</td>

					{% for day in range(5) %}
							<td><input type="checkbox" name="{{ meal + "[" ~ day ~ "]" }}" {{ "checked" if recurring_plates[meal][day] }}></td>
					{% endfor %}
					</tr>
				{% endfor %}
				</table>

				<input type="submit" value="Save" />
				<input hidden=true name="type" value="recurring" />
			</form>
		</div>


		<hr/>


		<div id='footer'>
			<h3>AEK&Delta;B</h3>
		</div>
	</body>
</html>
{% endautoescape %}
