* { 
/* linter says this is slow, but research says that's an old myth
check back if speed is an issue */
	font-family: 'Open Sans', sans-serif;
}


/*------HEADER STYLES------*/

/*----menu buttons-----*/

/* removing default list styles */
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    margin-left: auto;
    margin-right: auto;
}

/* style the anchor */
nav a {
    float: left;
    color: #eee;
    margin: 0 3px;
    padding: 15px;
    text-decoration: none;  //  removes the underline
    border: 1px solid #831608;
    font: bold 14px Arial, Helvetica;   
    background-color: #e74c3c;
    /*background-image: -moz-linear-gradient(#bb413b, #831608);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bb413b), to(#831608));    
    background-image: -webkit-linear-gradient(#bb413b, #831608);
    background-image: -o-linear-gradient(#bb413b, #831608);
    background-image: -ms-linear-gradient(#bb413b, #831608);
    background-image: linear-gradient(#bb413b, #831608);*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,.8);    */
    /*-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset;*/
    /*-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset;*/
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; */
}

nav a:hover {
    /*background-color: #c0392b;*/
    background-color: #8F313A;
   /* background-image: -moz-linear-gradient(#831608, #bb413b);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#831608), to(#bb413b));      
    background-image: -webkit-linear-gradient(#831608, #bb413b);
    background-image: -o-linear-gradient(#831608, #bb413b);
    background-image: -ms-linear-gradient(#831608, #bb413b);
    background-image: linear-gradient(#831608, #bb413b);*/
}

nav a:active {
    background: #d4463c;
    position: relative;
    top: 2px;    
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; 
}

/*sytle the span element bb413b 
nav span {
    border: 1px dashed #eba1a3; 
    display: inline-block;
    padding: 4px 15px;
    cursor: pointer;    
    background-color: #bb413b;
    background-image: -moz-linear-gradient(#d4463c, #aa2618);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d4463c), to(#aa2618));      
    background-image: -webkit-linear-gradient(#d4463c, #aa2618);
    background-image: -o-linear-gradient(#d4463c, #aa2618);
    background-image: -ms-linear-gradient(#d4463c, #aa2618);
    background-image: linear-gradient(#d4463c, #aa2618);
}*/

/*nav a:hover span {
    background-color: #bb413b;
    background-image: -moz-linear-gradient(#aa2618, #d4463c);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#aa2618), to(#d4463c));      
    background-image: -webkit-linear-gradient(#aa2618, #d4463c);
    background-image: -o-linear-gradient(#aa2618, #d4463c);
    background-image: -ms-linear-gradient(#aa2618, #d4463c);
    background-image: linear-gradient(#aa2618, #d4463c);
}*/

/*----------------------------------------------------------------*/


/* ------CONTENT STYLES ------*/
body {
	/*background-color: rgb(74, 13, 13);
    color: white;*/
    /*background-color: #27ae60;*/
    background-color: #318F32
}

h1 { 
	font-weight: 400; 
}

h2 { 
	font-weight: 600; 
}

h3 { 
	font-weight: 300; 
}

td {
	font-weight: 300; 
	text-align: center;
}

th {
	font-weight: 400; 
	text-align: center;
	padding: 5;
}

a { 
	font-weight: 400; 
}

/*---------------------------------------------------------------*/


input[type='radio'] {
    display: inline-block;
}


#new_request {
    border-width: 2;
    border-radius: 5;
}

#recurring {
    border-width: 2;
    border-radius: 5;
}


/* ------FOOTER STYLES-------*/

#footer {
    text-align: center;
    font-size: 30px;
}

